---
---

/* Fonts */

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-Light.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-LightIt.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-It.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-Semibold.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-Bold.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-BoldIt.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-Black.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
         url('/fonts/WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
         url('/fonts/OTF/SourceSansPro-BlackIt.otf') format('opentype'),
         url('/fonts/TTF/SourceSansPro-BlackIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Serif Pro'), url("SourceSerifPro-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 400;
    src: url("fonts/Heuristica-Italic.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Serif Pro Bold'), url("/fonts/SourceSerifPro-Bold.woff") format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Bold'), url("/fonts/SourceSansPro-Regular.ttf.woff") format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), url("/fonts/SourceSansPro-Bold.ttf.woff") format('woff');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), url("/fonts/SourceCodePro-Regular.woff") format('woff');
}


/* Common vars */

$text-body-grey: #515151;
$text-light-grey: #666666;
$text-link-grey: #479;

$ultralight-grey: #aaa;
$text-header-black:  #333;
$serif-font-stack: "Source Serif Pro", "Times New Roman",serif;
$sans-font-stack: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-font-stack: "Source Code Pro", Menlo, Monaco, "Courier New", monospace;


body {
  background-color: #FFF;
  font: 16px $sans-font-stack;
  font-size: small;
  color: $text-body-grey;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-font-stack;
  color: $text-header-black;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

h1.title {
  letter-spacing: 0.1px;
  text-align: center;
  outline: none;
  font-size: 4rem;
  border: none;
}

h1.halftitle {
  display: inline-block;
  float: right;
  width: auto;
  height: auto;
  text-align: right;
}

h1.blog-title {
    text-align: left;
    font-size: 26px;
}

h2 {
  margin-top: 1rem;
  font-size: 2rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

div.picheader, div.textheader {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

div.halftitle {
  height: 124px;
  width: 430px;
  float: right;
  margin: auto;
}

.content p {
  clear: both;
  margin: 1em 0;
  text-align: justify;
  line-height: 2;
}

a         { color: #479;
            text-decoration: none; }
a:hover   { color: $text-header-black; border-bottom: 2px solid $text-header-black;}
//a:visited { color: #696969; }

img.titleimage {
  float: left;
  border:2px solid black;
  border-radius:8px;
}


div.clear {
  clear: both;
}

div.content {
  clear: both;
}


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

/*** site ***/

.site {
  font-size: 115%;
  width: 580px;
  margin: 2em auto;
}

div.top-menu, div.footer {
  height: auto;
  width: 100%;
  display: inline-block;
  clear: both;
}

div.top-menu {
  border-bottom: 3px solid #eee;
 }

.top-menu a {
   font-weight: 250;
   text-decoration: none;
}
/*.top-menu a:hover {
  background-color: white;
  border: 2px solid white;
}*/

div.above-post, div.below-post {
  display: inline-block;
  height: auto;
  width: 100%;
}

div.above-post {
  margin-bottom: .7em;
}

div.below-post {
  margin-top: .7em;
}

.above-post .back, .below-post .back {
  float:left;
}

.above-post .meta, .below-post .meta {
  color: #000;
  padding: 2px;
  width: 75%;
}

.above-post .meta {
  padding-top: .4em;
  float: right;
  text-align: right;
}

.below-post .meta {
  color: #aaa;
  padding-top: 2em;
  float: left;
  text-align: left;
}

.below-post .author {
  padding-above: -800px;
  font-size: 120%;
  width: auto;
  height: auto;
  float: right;
  text-align: right;
  color: #000;
}

div.footer {
  font-size: 80%;
  font-family: $sans-font-stack;
  color: $text-light-grey;
  border-top: 3px solid #eee;
  margin: 2.5em auto 1em;
  padding-top: 1em;
  line-height: 1.5;
}

.footer .contact-left, .footer .contact-right {
  width: 49%;
}

.footer .contact-left {
  text-align: right;
  float: left;
  margin-right: 1%;
}

.footer .contact-right {
  text-align: left;
  float: right;
  margin-left: 1%;
}

.title a, .halftitle a {
  color: #a00;
}

.title a:hover, .halftitle a:hover {
  color: #000;
}

a.extra {
  color: #aaa;
  text-decoration: none;
}

.top-menu a.extra {
  margin-left: 1em;
}

.contact-left a.extra, .contact-right a.extra, .below-post a.extra {
  color: #8085C1;
}

a.extra:hover {
  color: #000;
}

p.navigation {
  clear: both;
  text-align: center;
  width: 100%;
  padding-top: 2em;
  font-size: 80%;
  font-family: $sans-font-stack;
  line-height: 1;
}

/*** lists ***/

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 3em;
}

li {
  font-family: $sans-font-stack;
  font-size: 95%;
  line-height: 1.5;
}

ul li:before {
  display: inline-block;
  content: "–";
  width: 1em;
  margin-left: -1em;
  font-weight: bold;
}

ul.posts {
  content: "-";
  margin-left: -1em;
  font-weight: bold;
}


/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: $code-font-stack;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  /*border-radius: 3px;*/
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: $code-font-stack !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 *
 *  Based on Poole (https://github.com/poole/poole/blob/master/public/css/poole.css)
 */

.page,
.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -1.7rem;
  margin-bottom: 1rem;
  float: left;
  color: $ultralight-grey;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 *
 * Based on Poole (https://github.com/poole/poole/blob/master/public/css/poole.css)
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: $sans-font-stack;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}