### Jekyll ############################
_site/
*/_drafts/
.sass_cache/

### LaTeX #############################
*.aux
*.fdb_latexmk
*.log
*.synctex.gz

### Sublime ###########################
*.sublime-workspace