@import "fonts.scss";

.term {
    color: black;
    font-family: $font-family-code;

    table {
        white-space: nowrap;
        border: none;
        table-layout: fixed;
        padding: 0;
        margin: 0;
        background: $background;
    }

    td {
        padding: 0;
        padding-right: 1ch;
        max-width: 80ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.size {
            padding-left: 2ch;
            text-align: right;
        }

        &.num {
            padding-left: 1ch;
            text-align: right;
        }
    }

    .ls-la {
        color: $light-gray;

        &.author, &.date {
            color: $body-text-color;
        }
    }

    tr {
        border: none;
        background: $background;
    }


    // grid for stuff like fake "ls" commands
    &-grid {
        display: grid;
        grid-template-columns: 9rem 9rem 9rem 9rem;
        // grid-gap: 2rem;
        // padding-left: 1rem;
    }

    // grid for stuff like fake "ls" commands
    &-grid-single {
        display: grid;
        // grid-gap: 2rem;
        // padding-left: 1rem;
    }

    a {
        color: $body-text-color;
    }
}

footer.term {
    margin-top: $lh;
}

a {
    font-family: $font-family-code;

    // fake "directories" - printed with a slash after
    &.dir {
        color: $link-color;
        border-bottom: none;

        &:after {
            content: "/";
            color: $body-text-color;
            border-bottom: none;

        }

        &:hover {
            background-color: $link-color;
            color: $background;

            &::after {
                border-bottom: none;
                color: $background;
            }
        }

    }

    // fake "files"
    &.file {
        color: $red;
        &:hover {
            background-color: $red;
            color: $background;
        }
    }

    // fake "symlinks"
    &.symlink {
        color: $purple;

        &:after {
            content: " -> " attr(href);
            color: $light-gray;
        }

        &:hover {
            background-color: $purple;
            color: $background;

            &::after {
                color: $background;
            }
        }
    }
}

// ul .term {
//     list-style-type: none;
//     padding: 4rem;
//     margin: none;
// }

.prompt {
    &.host {
        &:after {
            color: $light-gray;
            content: " :: ";
        }
    }

    &.path {
        &:after {
            color: $light-gray;
            content: " $ ";
        }
    }
}

.blinking-cursor {
    color: black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@-webkit-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@-ms-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@-o-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}