/**
 * vars
 */

$cyan: cyan;
$blue: blue;
$purple: purple;
$green: green;
$red: red;
$orange: orange;
$light-orange: yellow;

$very-light-gray: #c5c8c6;
$light-gray: hsl(0, 0%, 40%);
$body-text-color: black;
$dark-gray: #282a2e;
$very-dark-gray: #1d1f21;
$background: white;
$link-color: #FF4F00;

$text-body-gray: #515151;
$text-light-gray: hsl(0, 0%, 40%);

$ultralight-gray: hsl(0, 0%, 50%);
$text-header-black: #333;

$font-size-base: 12pt;
$font-family-code: "Berkeley Mono", monospace, serif;
$font-family: $font-family-code;

$lh: 1.5rem; // vertical rhythm

$max-width: 80ch;
$breakpoint-wide: $max-width + 12ch;