---
layout: common
---
<header class="term">
    {% include term-nav.html %}
    <span class="prompt host"><a href = "{{ site.url }}">elizas.website</a></span>
    <span class="prompt path">~</span> cd {{page.pwd}}
    <br />
    <span class="prompt host"><a href = "{{ site.url }}">elizas.website</a></span>
    <span class="prompt path">~{% if page.pwd %}{{page.pwd | prepend: '/'}}{% endif %}</span>
    {{ page.cmd }}
</header>
<main>
    <!-- begin content -->
    {{ content }}
    <!-- end content -->
</main>
{% include term-footer.html %} 