---
layout: term-footer
---
<header class="term">
    <!-- TODO: make these into <p>s? -->
    <span class="prompt host">elizas.website</span>
    <span class="prompt path">~</span> ls
    <nav class="term-grid">
        {% for nav in site.nav %}
        <span>
            <a class="term-nav {{nav.kind}}" href="{{ nav.href }}">{{ nav.name }}</a>
        </span>
        {% endfor %}
    </nav>
    <br />
    <span class="prompt host">elizas.website</span>
    <span class="prompt path">~</span> cd {{page.pwd}}
    <br />
    <span class="prompt host">elizas.website</span>
    <span class="prompt path">~{{page.pwd | prepend: "/"}}</span> {{ page.cmd }}
</header>
<main>
    <!-- begin content -->
    {{ content }}
    <!-- end content -->
</main>