---
layout: common
---
<header class="term">
    {% include term-nav.html %}
    <span class="prompt host">elizas.website</span>
    <span class="prompt path"><a href = "/">~</a></span> cd {{page.pwd}}
    <br />
    <span class="prompt host">elizas.website</span>
    <span class="prompt path"><a href = "/">~</a>{% if page.pwd %}<a href =
    "/{{page.pwd}}" class = "dir">{{page.pwd}}</a>{% endif %}</span>
    {{ page.cmd }}
</header>
<main>
    <!-- begin content -->
    {{ content }}
    <!-- end content -->
</main>
{% include term-footer.html %} 