---
layout: common
---

      {% if page.pic %}
        <div class="picheader">
        {% if page.piclink %}
          <a href="{{ page.piclink }}">
        {% endif %}
        {% if page.picalt %}
          <img class="titleimage" src="{{ page.pic }}" alt="{{ page.picalt }}">
        {% else %}
          <img class="titleimage" src="{{ page.pic }}">
        {% endif %}
        {% if page.piclink %}
          </a>
        {% endif %}
          <div class="halftitle">
          <h1 class="halftitle">
      {% else %}
        <div class="textheader">
          <h1 class="title">
      {% endif %}
      {% if page.bigtext %}
        {{ page.bigtext }}
      {% else %}
        {{ page.title }}
      {% endif %}
          </h1>
      {% if page.pic %}
          </div>
      {% endif %}
        </div>
        <div class="content">
<main>
  <!-- begin content -->
  {{ content }}
  <!-- end content -->
  </main>
</div>