---
layout: common
---
<div class="above-post">
  <!-- <header> -->
    <header class="textheader">
      <h1 class="post-title">
        {{ page.title }}
      </h1>
      {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{%endif %}
      <span class = "post-date">
          {% if page.author %}By {{ page.author }} on {% endif %}
          {{ page.date | date_to_string }}
      </span>
    </header>
  <!-- </header> -->

  <!-- <a class="extra back" href="javascript:history.back()">
    <span style="font-size: 100%; font-weight: bold;">&larr;</span>
    &nbsp;back</a> -->
</div>
<div class="content post">
<main>
  <!-- begin content -->
  {{ content }}
  <!-- end content -->
</main>
</div>
<footer class="post">
  <p>
    <a href="{{ site.url }}">Back to index</a>.
  </p>
</footer>
</div>
